# Preparação do dados
_Feature Engineering_ e _Construção de Target_

---

## Sumário

1. **Importação de bibliotecas**
2. **Carregamento das bases**
3. **Análise dos dataframes**
4. **Feature Engineering**
5. **Construção de Target**

<br>

---

<br>

## 1. Importação de bibliotecas

In [205]:
# Importação de pacotes e definição de parâmetros globais

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import seaborn as sns
import missingno as msno
import warnings
import gc

In [206]:
# Configurações para exibição de dados no Jupyter Notebook

# Configurar opção para exibir todas as linhas do Dataframe
pd.set_option('display.max_rows', None)

# Configurar para exibir o conteúdo completo das colunas
pd.set_option('display.max_colwidth', None)

# Configurar a supressão de mensagens de aviso durante a execução
warnings.filterwarnings('ignore')

# Configurar estilo dos gráficos do seaborn
sns.set_style('whitegrid')

## 2. Carregamento das bases

In [207]:
# Efetuando a limpeza da memória antes do carregamento dos dados
print(f'\nQuantidade de objetos removidos da memória: {gc.collect()}')

Quantidade de objetos removidos da memória: 1732

In [208]:
# Criando um dataframe a partir do arquivo train.csv
df_train = pd.read_csv('dados/train.csv', sep=',')
print('\nDATAFRAME: df_train')
df_train.head()

DATAFRAME: df_train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [209]:
# Criando um dataframe a partir do arquivo test.csv
df_test = pd.read_csv('dados/test.csv', sep=',')
print('\nDATAFRAME: df_test')
df_test.head()

DATAFRAME: df_test

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [210]:
# Criando um dataframe a partir do arquivo store.csv
df_store = pd.read_csv('dados/store.csv', sep=',')
print('\nDATAFRAME: df_store')
df_store.head()

DATAFRAME: df_store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

## 3. Análise dos dataframes

In [211]:
# Exibindo a quantidade de linhas e colunas dos dataframes

# Criação de um dicionário com os dataframes e seus respectivos nomes
dfs = {
    'df_train': df_train,
    'df_test': df_test,
    'df_store': df_store
}

# Iteração sobre o dicionário para exibir o nome e as dimensões dos dataframes
print(f'\nVOLUMETRIA')
for nome, df in dfs.items():
    print(f'\n{nome}')
    print(f'-'*45)
    print(f'Quantidade de linhas (registros):  {df.shape[0]}')
    print(f'Quantidade de colunas (variáveis): {df.shape[1]}')

VOLUMETRIA

df_train
---------------------------------------------
Quantidade de linhas (registros):  1017209
Quantidade de colunas (variáveis): 9

df_test
---------------------------------------------
Quantidade de linhas (registros):  41088
Quantidade de colunas (variáveis): 8

df_store
---------------------------------------------
Quantidade de linhas (registros):  1115
Quantidade de colunas (variáveis): 10

In [212]:
# Unindo df_train com df_store
df_train_full = pd.merge(df_train, df_store, on='Store', how='left')

# Unindo df_train com df_store
df_test_full = pd.merge(df_test, df_store, on='Store', how='left')

In [213]:
df_train_full.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [214]:
df_test_full.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,3,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,4,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,5,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN

In [215]:
# Função para geração de um dataframe de metadados

def gerar_metadados(dataframe):
    '''
    Gera um dataframe contendo metadados das colunas do dataframe fornecido.

    :param dataframe: Dataframe
        DataFrame para o qual os metadados serão gerados.
    :return: DataFrame
        DataFrame contendo os metadados.
    '''
    metadados = pd.DataFrame({
        'Variável': dataframe.columns,
        'Tipo': dataframe.dtypes,
        'Qtde de nulos': dataframe.isnull().sum(),
        '% de nulos': round((dataframe.isnull().sum()/len(dataframe))*100, 2),
        'Cardinalidade': dataframe.nunique(),
    })
    metadados = metadados.sort_values(by='Qtde de nulos', ascending=False)
    metadados = metadados.reset_index(drop=True)
    return metadados

In [216]:
# Exibindo os metadados do dataframe unificado de treino
gerar_metadados(df_train_full)

,Variável,Tipo,Qtde de nulos,% de nulos,Cardinalidade
0,Promo2SinceWeek,float64,508031,49.94,24
1,PromoInterval,object,508031,49.94,3
2,Promo2SinceYear,float64,508031,49.94,7
3,CompetitionOpenSinceYear,float64,323348,31.79,23
4,CompetitionOpenSinceMonth,float64,323348,31.79,12
5,CompetitionDistance,float64,2642,0.26,654
6,DayOfWeek,int64,0,0.00,7
7,Store,int64,0,0.00,1115
8,Date,object,0,0.00,942
9,Sales,int64,0,0.00,21734
10,StoreType,object,0,0.00,4
11,SchoolHoliday,int64,0,0.00,2
12,StateHoliday,object,0,0.00,5
13,Promo,int64,0,0.00,2
14,Open,int64,0,0.00,2
15,Customers,int64,0,0.00,4086
16,Assortment,object,0,0.00,3
17,Promo2,int64,0,0.00,2

In [217]:
# Colunas que estão em df_train_full mas não em df_test_full
diff_columns = df_train_full.columns.difference(df_test_full.columns)
diff_columns

Index(['Customers', 'Sales'], dtype='object')

In [218]:
# Colunas que estão em  df_test_full mas não em df_train_full
diff_columns = df_test_full.columns.difference(df_train_full.columns)
diff_columns

Index(['Id'], dtype='object')

In [219]:
# Excluindo coluna 'Id' de df_test_full
# A coluna não existe em df_train_full
df_test_full = df_test_full.drop('Id', axis=1)

In [220]:
# Transforma para o tipo de dados datetime
df_train_full['Date'] = pd.to_datetime(df_train_full['Date'])
df_test_full['Date'] = pd.to_datetime(df_test_full['Date'])

## 4. Feature Engineering

In [221]:
# Dicionário com os dataframes de treino e teste
dfs = {
    'df_train_full': df_train_full,
    'df_test_full': df_test_full
}

In [222]:
# Variáveis temporais

for name, df in dfs.items():
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['Quarter'] = df['Date'].dt.quarter
    df['DayOfWeek'] = df['Date'].dt.dayofweek
    df['IsWeekend'] = df['Date'].dt.dayofweek >= 5
    df['DayOfYear'] = df['Date'].dt.dayofyear

In [223]:
# Variáveis da concorrência

def calculate_months_since_competition_opened(sub_df):
    '''
    Calcula o número de meses desde que a concorrência abriu para cada loja.
    
    :param sub_df: dataframe
        Um DataFrame contendo as colunas expecíficas
    :return: Series
        Uma série com o número de meses desde que a concorrência abriu, com
        valore maiores ou iguais a zero(0).
    ''' 
    months = (sub_df['Year'] - sub_df['CompetitionOpenSinceYear']) * 12 + (
        sub_df['Month'] - sub_df['CompetitionOpenSinceMonth'])
    return months.clip(lower=0)


def calculate_years_since_competition_opened(sub_df):
    '''
    Calcula o número de anos desde que a concorrência abriu para cada loja.
    
    :param sub_df: dataframe
        Um DataFrame contendo as colunas expecíficas
    :return: Series
        Uma série com o número de anos desde que a concorrência abriu, com
        valore maiores ou iguais a zero(0).
    ''' 
    years = (sub_df['Year'] - sub_df['CompetitionOpenSinceYear']) + (
        sub_df['Month'] - sub_df['CompetitionOpenSinceMonth']) / 12
    return years.clip(lower=0)

In [224]:
for name, df in dfs.items():

	df['MonthsSinceTheCompetitionOpened'] = (
		df.groupby('Store').apply(calculate_months_since_competition_opened
                            ).reset_index(drop=True))

	df['YearsSinceTheCompetitionOpened'] = (
		df.groupby('Store').apply(calculate_years_since_competition_opened
                            ).reset_index(drop=True))

In [225]:
# Variáveis de somas móveis

def add_rolling_sums(df, windows, vars):
    '''
    Adicionar variáveis de somas móveis.
    
    param df: Dataframe
        DataFrame onde as somas móveis serão adicionadas.
    param windows: list
        Lista de tamanhos de janelas móveis para calcular a soma.
    param vars:
        Lista contendo duas strings: a primeira é a variável para agrupar e a segunda
        é a variável sobre a qual calcular a soma móvel.
        
    return: Dataframe
        DataFrame original com as novas colunas de soma móvel adicionadas.
    '''
    for window in windows:
        name = f'{vars[1]}RollingSum_{window}'
        df[name] = df.groupby(vars[0])[vars[1]].transform(lambda x: x.rolling(window=window).sum())
    return df

In [226]:
windows = [3, 5, 7, 14, 21, 28, 30, 60, 90, 120, 150, 180, 360]
vars = ['Store', 'Promo']

df_train_full = add_rolling_sums(df_train_full, windows, vars)
df_test_full = add_rolling_sums(df_test_full, windows, vars)

## 5. Construção de target

In [227]:
# Soma das vendas nos próximos 42 dias (6 semanas), excluindo o dia atual
df_train_full['Target'] = df_train_full.groupby('Store')['Sales'].transform(
    lambda x: x.rolling(window=42, min_periods=1).sum().shift(-42))

# Definir Target como zero para os dias com 'Sales' igual a zero
# Ajuste necessário pois algumas lojas não abrem em dias de
# sábado, domingo e feirados.
df_train_full['Target'] = np.where(df_train_full['Sales'] == 0, 0, df_train_full['Target'])

# Remover as linhas onde o Target não pode ser calculado (últimos 42 dias)
df_train_full.dropna(subset=['Target'], inplace=True)

In [228]:
df_train_full[['Store', 'Sales', 'Target']].head()

   Store  Sales    Target
0      1   5263  157057.0
1      2   6064  176872.0
2      3   8314  245876.0
3      4  13995  355383.0
4      5   4822  162083.0

## 6. Split do conjunto de dados

In [229]:
# Colunas que estão em df_train_full mas não em df_test_full
diff_columns = df_train_full.columns.difference(df_test_full.columns)
diff_columns

Index(['Customers', 'Sales', 'Target'], dtype='object')

In [230]:
# Colunas que estão em  df_test_full mas não em df_train_full
diff_columns = df_test_full.columns.difference(df_train_full.columns)
diff_columns

Index([], dtype='object')

In [231]:
# Excluindo as colunas 'Customers' e 'Sales' de df_train_full
# As colunas não existe em df_test_full e não serão utilizadas
# na construção do modelo preditivo.
df_train_full = df_train_full.drop(['Customers', 'Sales'], axis=1)

In [232]:
print(f'Tamanho do conjunto de treino: {df_train_full.shape}\n'
      f'Data inicial: {df_train_full['Date'].min()}\n'
      f'Data final:   {df_train_full['Date'].max()}')

print(f'\nTamanho do conjunto de teste: {df_test_full.shape}\n'
      f'Data inicial: {df_test_full['Date'].min()}\n'
      f'Data final:   {df_test_full['Date'].max()}')

Tamanho do conjunto de treino: (978360, 38)
Data inicial: 2013-01-01 00:00:00
Data final:   2015-07-31 00:00:00

Tamanho do conjunto de teste: (41088, 37)
Data inicial: 2015-08-01 00:00:00
Data final:   2015-09-17 00:00:00