# Modelagem preditiva
_Machine Learning_

---

## Sumário

1. **Importação de bibliotecas**
2. **Carregamento das bases**
3. **Análise dos dataframes**
4. **Modelagem preditiva**
    - 4.1. Preparação dos dados
    - 4.2. Treinamento dos modelos com todo o histórico de dados
    - 4.3. Treinamento dos modelos com histórico de dados a partir de 01-01-2014
    - 4.4. Treinamento dos modelos com histórico de dados a partir de 01-01-2015
    - 4.5. Comparativo dos resultados
5. **Tunagem dos hiperparâmetros dos melhores algoritmos**


<br>

---

<br>

## 1. Importação de bibliotecas

In [ ]:
# Importação de pacotes e definição de parâmetros globais

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import seaborn as sns
import warnings
import gc
import time
import optuna
import joblib
import lightgbm as lgb
import catboost as cb

from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from xgboost import XGBRegressor

d:\PROJETOS\previsao_de_demandas_de_drogarias\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Configurações para exibição de dados no Jupyter Notebook

# Configurar opção para exibir todas as linhas do Dataframe
pd.set_option('display.max_rows', None)

# Configurar para exibir o conteúdo completo das colunas
pd.set_option('display.max_colwidth', None)

# Configurar a supressão de mensagens de aviso durante a execução
warnings.filterwarnings('ignore')

# Configurar estilo dos gráficos do seaborn
sns.set_style('whitegrid')

## 2. Carregamento das bases

In [3]:
# Efetuando a limpeza da memória antes do carregamento dos dados

print(f'\nQuantidade de objetos removidos da memória: {gc.collect()}')

Quantidade de objetos removidos da memória: 0

In [4]:
# Criando um dataframe a partir do arquivo train_001.csv

df_train = pd.read_csv('dados/train_001.csv', sep=',')
print('\nDATAFRAME: df_train')
df_train.head()

DATAFRAME: df_train

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,PromoRollingSum_21,PromoRollingSum_28,PromoRollingSum_30,PromoRollingSum_60,PromoRollingSum_90,PromoRollingSum_120,PromoRollingSum_150,PromoRollingSum_180,PromoRollingSum_360,Target
0,1,1,2015-06-30,1,1,0,0,c,a,1270.0,...,9.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,149389.0
1,2,1,2015-06-30,1,1,0,0,a,a,570.0,...,9.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,170586.0
2,3,1,2015-06-30,1,1,0,1,a,a,14130.0,...,9.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,243725.0
3,4,1,2015-06-30,1,1,0,0,c,c,620.0,...,9.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,334601.0
4,5,1,2015-06-30,1,1,0,0,a,a,29910.0,...,9.0,10.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,162182.0

In [5]:
# Criando um dataframe a partir do arquivo validation_001.csv

df_validation = pd.read_csv('dados/validation_001.csv', sep=',')
print('\nDATAFRAME: df_validation')
df_validation.head()

DATAFRAME: df_validation

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,PromoRollingSum_21,PromoRollingSum_28,PromoRollingSum_30,PromoRollingSum_60,PromoRollingSum_90,PromoRollingSum_120,PromoRollingSum_150,PromoRollingSum_180,PromoRollingSum_360,Target
0,1,4,2015-07-31,1,1,0,1,c,a,1270.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157057.0
1,2,4,2015-07-31,1,1,0,1,a,a,570.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,176872.0
2,3,4,2015-07-31,1,1,0,1,a,a,14130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,245876.0
3,4,4,2015-07-31,1,1,0,1,c,c,620.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,355383.0
4,5,4,2015-07-31,1,1,0,1,a,a,29910.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162083.0

## 3. Análise dos dataframes

In [6]:
# Exibindo a quantidade de linhas e colunas dos dataframes

# Criação de um dicionário com os dataframes e seus respectivos nomes
dfs = {
    'df_train': df_train,
    'df_validation': df_validation
}

# Iteração sobre o dicionário para exibir o nome e as dimensões dos dataframes
print(f'\nVOLUMETRIA')
for nome, df in dfs.items():
    print(f'\n{nome}')
    print(f'-'*45)
    print(f'Quantidade de linhas (registros):  {df.shape[0]}')
    print(f'Quantidade de colunas (variáveis): {df.shape[1]}')

VOLUMETRIA

df_train
---------------------------------------------
Quantidade de linhas (registros):  943795
Quantidade de colunas (variáveis): 38

df_validation
---------------------------------------------
Quantidade de linhas (registros):  34565
Quantidade de colunas (variáveis): 38

In [7]:
# Função para geração de um dataframe de metadados

def gerar_metadados(dataframe):
    '''
    Gera um dataframe contendo metadados das colunas do dataframe fornecido.

    :param dataframe: Dataframe
        DataFrame para o qual os metadados serão gerados.
    :return: DataFrame
        DataFrame contendo os metadados.
    '''
    metadados = pd.DataFrame({
        'Variável': dataframe.columns,
        'Tipo': dataframe.dtypes,
        'Qtde de nulos': dataframe.isnull().sum(),
        '% de nulos': round((dataframe.isnull().sum()/len(dataframe))*100, 2),
        'Cardinalidade': dataframe.nunique(),
    })
    metadados = metadados.sort_values(by='Qtde de nulos', ascending=False)
    metadados = metadados.reset_index(drop=True)
    return metadados

In [8]:
gerar_metadados(df_train)

,Variável,Tipo,Qtde de nulos,% de nulos,Cardinalidade
0,Store,int64,0,0.0,1115
1,PromoRollingSum_21,float64,0,0.0,7
2,DayOfYear,int64,0,0.0,365
3,MonthsSinceTheCompetitionOpened,float64,0,0.0,336
4,YearsSinceTheCompetitionOpened,float64,0,0.0,346
5,PromoRollingSum_3,float64,0,0.0,4
6,PromoRollingSum_5,float64,0,0.0,6
7,PromoRollingSum_7,float64,0,0.0,6
8,PromoRollingSum_14,float64,0,0.0,11
9,PromoRollingSum_28,float64,0,0.0,11
10,DayOfWeek,int64,0,0.0,7
11,PromoRollingSum_30,float64,0,0.0,13
12,PromoRollingSum_60,float64,0,0.0,14
13,PromoRollingSum_90,float64,0,0.0,13
14,PromoRollingSum_120,float64,0,0.0,13
15,PromoRollingSum_150,float64,0,0.0,17
16,PromoRollingSum_180,float64,0,0.0,17
17,PromoRollingSum_360,float64,0,0.0,21
18,IsWeekend,bool,0,0.0,2
19,Quarter,int64,0,0.0,4
20,Day,int64,0,0.0,31
21,Month,int64,0,0.0,12
22,Date,object,0,0.0,911
23,Open,int64,0,0.0,2
24,Promo,int64,0,0.0,2
25,StateHoliday,object,0,0.0,5
26,SchoolHoliday,int64,0,0.0,2
27,StoreType,object,0,0.0,4
28,Assortment,object,0,0.0,3
29,CompetitionDistance,float64,0,0.0,655
30,CompetitionOpenSinceMonth,float64,0,0.0,13
31,CompetitionOpenSinceYear,float64,0,0.0,24
32,Promo2,int64,0,0.0,2
33,Promo2SinceWeek,float64,0,0.0,25
34,Promo2SinceYear,float64,0,0.0,8
35,PromoInterval,object,0,0.0,4
36,Year,int64,0,0.0,3
37,Target,float64,0,0.0,278695

## 4. Modelagem preditiva

### 4.1. Preparação dos dados

In [9]:
# Separando as variáveis preditivas e a variável preditora (alvo)

features = df_train.columns.drop('Target')
target = 'Target'

In [10]:
# Separando as variáveis numéricas e categóricas

numerical_features = df_train[features].select_dtypes(exclude=object).columns
categorical_features = df_train[features].select_dtypes(include=object).columns

In [11]:
# Converter todas as colunas categóricas para string

df_train[categorical_features] = df_train[categorical_features].astype(str)
df_validation[categorical_features] = df_validation[categorical_features].astype(str)

In [12]:
# Separando os dataframes com as variáveis preditivas e a variável preditora

X_train = df_train[features]
y_train = df_train[target]
X_test = df_validation[features]
y_test = df_validation[target]

In [13]:
# Pré-processamento, transformação das features numéricas e categóricas

preprocessor = ColumnTransformer(
	transformers=[
		('num', StandardScaler(), numerical_features),
		('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
])

In [14]:
# Verificando os shapes

print(f'Shape: X_train: {X_train.shape}, y_train: {y_train.shape}')
print(f'Shape: X_test:  {X_test.shape},  y_test: {y_test.shape}')

Shape: X_train: (943795, 37), y_train: (943795,)
Shape: X_test:  (34565, 37),  y_test: (34565,)

In [15]:
# Verificando transformação de dados

X_train_transformed = preprocessor.fit_transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

In [16]:
# Verificando os shapes após transformação

print(f'Shape de X_train após transformação: {X_train_transformed.shape}')
print(f'Shape de X_test após transformação:  {X_test_transformed.shape}')

Shape de X_train após transformação: (943795, 958)
Shape de X_test após transformação:  (34565, 958)

### 4.2. Treinamento dos modelos com todo o histórico de dados

In [17]:
# Definindo os modelos a serem testados

models = {
    'LinearRegression': LinearRegression(),
    'LightGBM': lgb.LGBMRegressor(n_estimators=100, random_state=42, verbose=-1),
    'CatBoost': cb.CatBoostRegressor(iterations=100, depth=6, learning_rate=0.1, loss_function='RMSE', verbose=0),
    'GradientBoosting': GradientBoostingRegressor(n_estimators=100, random_state=42),
    'XGBoost': XGBRegressor(n_estimators=100, random_state=42, verbosity=0)
}

In [18]:
def models_evaluation(models, X_train, y_train, X_test, y_test, preprocessor):
    '''
    Avalia modelos de aprendizado de máquina, calculando métricas de desempenho 
    no conjunto de treino e teste.

    :param models: dict
        Dicionário contendo os modelos a serem avaliados.
    :param X_train: DataFrame
        Conjunto de dados de treino com as variáveis independentes.
    :param y_train: Series
        Variável dependente para o conjunto de treino.
    :param X_test: DataFrame
        Conjunto de dados de teste com as variáveis independentes.
    :param y_test: Series
        Variável dependente para o conjunto de teste.
    :param preprocessor: ColumnTransformer
        Objeto de pré-processamento que será aplicado aos dados antes do treinamento do modelo.

    :return: list
        Lista contendo os resultados de avaliação de cada modelo, RMSE e MAE para treino 
        e teste, além do tempo de execução.
    '''
    results = []

    for model_name, model in models.items():
        # Cria um pipeline que combina o pré-processamento e o modelo
        pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])

        # Registra o tempo de início
        start_time = time.time()
        
        # Treina o modelo usando o pipeline
        pipeline.fit(X_train, y_train)
        
        # Registra o tempo de término e calcula o tempo de execução
        end_time = time.time()
        elapsed_time = end_time - start_time

        # Previsões e cálculo das métricas no conjunto de treino
        train_predictions = pipeline.predict(X_train)
        train_rmse = np.sqrt(mean_squared_error(y_train, train_predictions))
        train_mae = mean_absolute_error(y_train, train_predictions)

        # Previsões e cálculo das métricas no conjunto de teste
        test_predictions = pipeline.predict(X_test)
        test_rmse = np.sqrt(mean_squared_error(y_test, test_predictions))
        test_mae = mean_absolute_error(y_test, test_predictions)    

        # Adiciona os resultados à lista
        results.append((
            model_name, train_rmse, test_rmse, train_mae, test_mae, elapsed_time
        ))

    return results

In [19]:
# Avaliando os modelos
results = models_evaluation(models, X_train, y_train, X_test, y_test, preprocessor)

# Criando DataFrame de resultados
results_df = pd.DataFrame(results, columns=[
                            'Modelo', 'RMSE em treino', 'RMSE em teste', 
                            'MAE em treino', 'MAE em teste', 'Tempo decorrido (s)'])

# Exibindo os resultados
results_df

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,74600.379064,309293.409817,51738.388898,271276.664045,28.072348
1,LightGBM,38586.776903,44161.800849,27936.856770,32487.902792,7.862009
2,CatBoost,56395.651572,62284.344024,39903.499101,44085.404224,14.714923
3,GradientBoosting,65562.258359,70611.741017,45250.375402,48747.665342,322.810806
4,XGBoost,21462.326807,28607.617056,15610.326833,21221.732968,8.879546

### 4.3. Treinamento dos modelos com histórico de dados a partir de 01-01-2014

In [20]:
# Selecionando dados a partir de 01-01-2014
df_train_00 = df_train[df_train['Date'] >= '2014-01-01'].copy()

# Converter todas as colunas categóricas para string
df_train_00[categorical_features] = df_train_00[categorical_features].astype(str)

# Separando os dataframes com as variáveis preditivas e a variável preditora
X_train = df_train_00[features]
y_train = df_train_00[target]

# Pré-processamento, transformação das features numéricas e categóricas
preprocessor = ColumnTransformer(
	transformers=[
		('num', StandardScaler(), numerical_features),
		('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
])

# Avaliando os modelos
results = models_evaluation(models, X_train, y_train, X_test, y_test, preprocessor)

# Criando DataFrame de resultados
results_df_00 = pd.DataFrame(results, columns=[
                            'Modelo', 'RMSE em treino', 'RMSE em teste', 
                            'MAE em treino', 'MAE em teste', 'Tempo decorrido (s)'])

# Exibindo os resultados
results_df_00

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,74409.362859,276823.117601,51872.836322,240122.218335,17.100337
1,LightGBM,37508.232887,42825.956651,27228.816279,31749.433281,4.972452
2,CatBoost,56252.880219,61747.624779,39709.751946,43654.323788,8.769831
3,GradientBoosting,64445.219168,69331.655819,44933.129775,48135.930325,193.078442
4,XGBoost,19679.021450,25890.517653,14269.371007,19121.840148,5.483874

### 4.4. Treinamento dos modelos com histórico de dados a partir de 01-01-2015

In [21]:
# Selecionando dados a partir de 01-01-2015
df_train_01 = df_train[df_train['Date'] >= '2015-01-01'].copy()

# Converter todas as colunas categóricas para string
df_train_01[categorical_features] = df_train_01[categorical_features].astype(str)

# Separando os dataframes com as variáveis preditivas e a variável preditora
X_train = df_train_01[features]
y_train = df_train_01[target]

# Pré-processamento, transformação das features numéricas e categóricas
preprocessor = ColumnTransformer(
	transformers=[
		('num', StandardScaler(), numerical_features),
		('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
])

# Avaliando os modelos
results = models_evaluation(models, X_train, y_train, X_test, y_test, preprocessor)

# Criando DataFrame de resultados
results_df_01 = pd.DataFrame(results, columns=[
                            'Modelo', 'RMSE em treino', 'RMSE em teste', 
                            'MAE em treino', 'MAE em teste', 'Tempo decorrido (s)'])

# Exibindo os resultados
results_df_01

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,73699.366946,86771.077084,51404.782369,60645.653521,2.186368
1,LightGBM,35155.499255,40311.140946,25778.097047,29902.591028,1.807975
2,CatBoost,54854.734524,62294.912910,38846.806357,43603.607236,2.725390
3,GradientBoosting,63451.163306,69028.536458,44110.979695,47900.685039,55.826321
4,XGBoost,18390.785339,24604.677229,13493.532465,18316.927099,2.096120

### 4.5. Comparativo dos resultados

In [22]:
# Utilizando todo o histórico de dados

# Exibindo os resultados
results_df

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,74600.379064,309293.409817,51738.388898,271276.664045,28.072348
1,LightGBM,38586.776903,44161.800849,27936.856770,32487.902792,7.862009
2,CatBoost,56395.651572,62284.344024,39903.499101,44085.404224,14.714923
3,GradientBoosting,65562.258359,70611.741017,45250.375402,48747.665342,322.810806
4,XGBoost,21462.326807,28607.617056,15610.326833,21221.732968,8.879546

In [23]:
# Utilizando histórico de dados a partir de 01-01-2014

# Exibindo os resultados
results_df_00

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,74409.362859,276823.117601,51872.836322,240122.218335,17.100337
1,LightGBM,37508.232887,42825.956651,27228.816279,31749.433281,4.972452
2,CatBoost,56252.880219,61747.624779,39709.751946,43654.323788,8.769831
3,GradientBoosting,64445.219168,69331.655819,44933.129775,48135.930325,193.078442
4,XGBoost,19679.021450,25890.517653,14269.371007,19121.840148,5.483874

In [24]:
# Utilizando histórico de dados a partir de 01-01-2015

# Exibindo os resultados
results_df_01

,Modelo,RMSE em treino,RMSE em teste,MAE em treino,MAE em teste,Tempo decorrido (s)
0,LinearRegression,73699.366946,86771.077084,51404.782369,60645.653521,2.186368
1,LightGBM,35155.499255,40311.140946,25778.097047,29902.591028,1.807975
2,CatBoost,54854.734524,62294.912910,38846.806357,43603.607236,2.725390
3,GradientBoosting,63451.163306,69028.536458,44110.979695,47900.685039,55.826321
4,XGBoost,18390.785339,24604.677229,13493.532465,18316.927099,2.096120

Os valores elevados de **RMSE** e **MAE** podem ser atribuídos à grande variação na variável dependente _'Target'_, que inclui dias com vendas zero e dias com vendas muito elevadas. Esse cenário reflete a realidade de que drogarias podem estar fechadas ou operar em horários reduzidos, o que influencia os dados. O foco, no entanto, deve ser nas diferenças entre as métricas de treino e teste, o que indica a capacidade dos modelos em generalizar.

Dentre os modelos analisados, o **LinearRegression** teve o pior desempenho com os maiores valores de erro. O **GradientBoosting** apresentou boas diferenças entre treino e teste, mas os erros ainda foram elevados. O **CatBoost** se destacou com métricas razoáveis, mas seu tempo de execução foi mais alto. O **XGBoost** obteve os menores valores de _RMSE_ e _MAE_, porém com uma diferença maior entre treino e teste, indicando possível overfitting. O **LightGBM**, com _RMSE_ e _MAE_ competitivos e o menor tempo de execução, mostrou-se o modelo mais equilibrado, oferecendo a melhor performance geral.

## 5. Tunagem dos hiperparâmetros dos melhores algoritmos